body {
    font-family: 'Lato', sans-serif;
    padding-top: 0;
    font-size: 0.75rem;
    box-sizing: border-box;
    line-height: 1.4rem;
    font-size: 0.75rem;

}

a {
    color: white !important;
}

a:hover {
    color: #9B5EFF !important;
}


h1,
h2,
h3,
h4,
h5 {
    font-family: 'PT Serif', serif !important;
}








/*nav*/

.nav-link {
    color: white !important;
}

.navbar-brand img {
    width: 15rem;
    height: auto;
    background-size: cover;
}

.masthead {
    width: 100%;
    color: white;
    text-shadow: 0.2rem 0.2rem black;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    padding: 2rem;
    margin: 2rem 0 4rem 0;
    text-align: center;
}





/*hot-topics*/

.main-content {

    max-width: 60rem;
    padding: 0 1rem;
    margin: 0 auto;

}


figcaption {
    margin-top: 1rem;
}


.hot img {
    width: 100%;
    height: auto;
    background-size: cover;
}

.hot figure {
    margin: 0 auto;
    text-align: center;
    width: 400px;
}

.hot-text {
    margin-bottom: 4rem;
}

.hot h2 {
    margin-bottom: 2rem;
    text-align: center;
}





/*portfolio*/

.col {
    margin-bottom: 2rem;
}

figure {
    text-align: center;
}


.portfolio img-box {
    width: 300px;
    height: 300px;
}







/*footer*/

footer {
    background-color: black;
    padding: 3rem;
    margin: 0 auto;
    color: white;
    text-align: center !important;
}


.social li {
    float: left;
    padding: 0 1em;
    list-style: none;
}

footer .row {
    width: 80%;
    margin: 0 auto;
}

footer ul {

    display: inline-block;
    padding: 0;
    text-align: center;
    margin-bottom: 2rem;
}

footer h3 {
    margin-bottom: 2rem;
    color: #9B5EFF;
}




@media only screen and (min-width: 35rem) {

    body {
        font-size: 1rem;
    }

    /*hot-topics*/
    figcaption {
        margin-top: 1rem;
    }


    .hot img {
        width: 300px;
        height: 300px;
        background-size: cover;
    }

    .hot figure {
        float: left;
        margin: 0.5rem 3rem 0 0;
        width: 300px;
    }

    .hot-text {
        margin-bottom: 4rem;
    }



    .space {}


    /*footer*/
    .social li {
        float: left;
        padding: 0 1em;
        list-style: none;
    }

    footer .row {
        width: 100%;
        margin: 0 auto;
    }



}

@media only screen and (min-width: 80rem) {

    body {
        font-size: 1.25rem;
    }

    article {
        margin: 4rem;
    }

    /*hot-topics*/
    .main-content {

        max-width: 80rem;
        margin: 0 auto;

    }


    figcaption {
        margin-top: 1rem;
    }


    .hot img {
        width: 300px;
        height: 300px;
    }

    .hot figure {
        float: left;
        display: inline-block;
        margin-right: 3rem;
    }

    .hot-text {
        overflow: auto;
        margin-bottom: 4rem;
    }






    /*footer*/
    .social li {
        float: left;
        padding: 0 1em;
        list-style: none;
    }

    footer .row {
        width: 70%;
        margin: 0 auto;
    }


}